/*Fonts*/
@RIG: rig-shaded-medium-extrude, sans-serif;
/*Colours*/
@light: #CECCCD;
@slightly-light: #595957;
@green: #7AD12E;
@dark: #191919;
@black: #000000;

@title1: 75px;


body{
  background-color: @dark;
  color: @light;
}

.formContainer{
  margin: 0 auto;
  text-align: center;
  align-content: center;

  input{

  }

  label{
    min-width: 500px;
    margin: 30px;
  }
}

.logTitle{
  margin: 0 auto;
  text-align: center;
  font-family: @RIG;
  font-size: @title1;
}

.ocdTitle{
  color: greenyellow;
  transform-origin: 0 0;
  transform: rotate(90deg);

}